<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AgenciaCentraqlJSP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ManagerLoginReportes</servlet-name>
    <servlet-class>application.managers.ManagerLoginReportes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerReportes</servlet-name>
    <servlet-class>application.managers.ManagerReportes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerVentasAgencia</servlet-name>
    <servlet-class>application.managers.ManagerVentasAgencia</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ReporteVentasDia</servlet-name>
    <servlet-class>application.reportes.ReporteVentasDia</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ReporteVentasFranja</servlet-name>
    <servlet-class>application.reportes.ReporteVentasFranja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginReportes</servlet-name>
    <url-pattern>/ManagerLoginReportes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerReportes</servlet-name>
    <url-pattern>/ManagerReportes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerVentasAgencia</servlet-name>
    <url-pattern>/ManagerVentasAgencia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteVentasDia</servlet-name>
    <url-pattern>/ReporteVentasDia</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ReporteVentasFranja</servlet-name>
    <url-pattern>/ReporteVentasFranja</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ManagerFiltroLogin</filter-name>
    <filter-class>application.managers.ManagerFiltroLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFiltroLogin</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>